// @import './common';

body {
	// color-scheme: dark;
}

h1 {
	text-align: center;
}

article {
	padding: 1rem;
	gap: 4rem;
	display: flex;
	align-items: flex-start;

	fieldset {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 20rem;
	}
}
